@use './_design';

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@each $key, $dist in design.$translates {
  @keyframes slide-up-#{$key} {
    from {
      transform: translateY($dist);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-down-#{$key} {
    from {
      transform: translateY(0);
      opacity: 0;
    }

    to {
      transform: translateY($dist);
      opacity: 1;
    }
  }

  .animate-slide-up-#{$key} {
    animation-name: slide-up-#{$key};
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
  }

  .animate-slide-down-#{$key} {
    animation-name: slide-down-#{$key};
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
  }
}

.animate-fade-in {
  animation-name: fade-in;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

$durations: (
  75: 75ms,
  150: 150ms,
  300: 300ms,
  500: 500ms,
  1000: 1s
);

$easings: (
  default: ease,
  in: ease-in,
  out: ease-out,
  'in-out': ease-in-out
);

@each $key, $time in $durations {
  .duration-#{$key} {
    animation-duration: $time;
  }
}

@each $name, $fn in $easings {
  .ease-#{$name} {
    animation-timing-function: $fn;
  }
}
