@use './_design';

:root {
  --animate-duration: 300ms;
  --animate-easing: ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation-name: fade-in;
  animation-duration: var(--animate-duration);
  animation-timing-function: var(--animate-easing);
  animation-fill-mode: both;
}

.reveal-fade-in {
  animation-name: fade-in;
  animation-duration: var(--animate-duration);
  animation-timing-function: var(--animate-easing);
  animation-fill-mode: both;
  animation-play-state: paused;
}

@each $key, $dist in design.$translates {
  @keyframes slide-up-#{$key} {
    from {
      transform: translateY($dist);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-down-#{$key} {
    from {
      transform: translateY(0);
      opacity: 0;
    }

    to {
      transform: translateY($dist);
      opacity: 1;
    }
  }

  .animate-slide-up-#{$key} {
    animation-name: slide-up-#{$key};
    animation-duration: var(--animate-duration);
    animation-timing-function: var(--animate-easing);
    animation-fill-mode: both;
  }

  .animate-slide-down-#{$key} {
    animation-name: slide-down-#{$key};
    animation-duration: var(--animate-duration);
    animation-timing-function: var(--animate-easing);
    animation-fill-mode: both;
  }

  .reveal-slide-up-#{$key} {
    animation-name: slide-up-#{$key};
    animation-duration: var(--animate-duration);
    animation-timing-function: var(--animate-easing);
    animation-fill-mode: both;
    animation-play-state: paused;
  }

  .reveal-slide-down-#{$key} {
    animation-name: slide-down-#{$key};
    animation-duration: var(--animate-duration);
    animation-timing-function: var(--animate-easing);
    animation-fill-mode: both;
    animation-play-state: paused;
  }
}

@each $key, $time in design.$durations {
  .duration-#{$key} {
    animation-duration: $time;
  }
}

@each $name, $fn in design.$easings {
  .ease-#{$name} {
    animation-timing-function: $fn;
  }
}
