@use './design';

// Spacing
@each $key, $val in design.$spacing {
  .p-#{$key} {
    padding: $val;
  }

  .m-#{$key} {
    margin: $val;
  }

  .mt-#{$key} {
    margin-top: $val;
  }

  .mr-#{$key} {
    margin-right: $val;
  }

  .mb-#{$key} {
    margin-bottom: $val;
  }

  .ml-#{$key} {
    margin-left: $val;
  }

  .g-#{$key} {
    gap: $val;
  }
}

// Base Layouts
.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

// Responsive Base Layout Variants
@each $label, $minWidth in design.$breakpoints {
  @media (min-width: $minWidth) {
    .#{$label}\:flex {
      display: flex;
    }

    .#{$label}\:row {
      display: flex;
      flex-direction: row;
    }

    .#{$label}\:col {
      display: flex;
      flex-direction: column;
    }

    .#{$label}\:grid {
      display: grid;
    }

    @each $key, $val in design.$spacing {
      .#{$label}\:p-#{$key} {
        padding: $val;
      }

      .#{$label}\:m-#{$key} {
        margin: $val;
      }

      .#{$label}\:g-#{$key} {
        gap: $val;
      }
    }
  }
}

// Sizes
@each $key, $size in design.$sizes {
  .grid-cols-autofit-#{$key} {
    grid-template-columns: repeat(auto-fit, minmax(#{$size}, 1fr));
  }

  .grid-cols-autofill-#{$key} {
    grid-template-columns: repeat(auto-fill, minmax(#{$size}, 1fr));
  }

  .w-#{$key} {
    width: #{$size};
  }

  .h-#{$key} {
    height: #{$size};
  }
}

// Alignments
.text-center {
  text-align: center;
}

// Borders
.rounded-full {
  border-radius: 100%;
}

// Object
.object-cover {
  object-fit: cover;
}

// Shadows
.shadow-1 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
